* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/img-1.jpg);
    background-size: cover;
    
}

body > * {
    transition: all 500ms;
}

img, video {
    width: 100%;
}

input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}

h1, h2, h3, h4, p, i {
    color: white;
}

:root {
    /* FONT SIZE */
    --pri-font-size: 1.6rem;
    --sec-font-size: 0.8rem;
    --ter-font-size: 0.7rem;

    /* COLOR */
    --pri-font-color: white;
    --sec-font-color: rgb(167, 167, 167);
    
    /* BACKGROUND COLOR */
    --pri-bg-color: #8B36E0;
    --sec-bg-color: #23254F;

}

/* SCROLL BAR */



/* CONTAINER */

#container {
    width: 350px;
    height: 700px;
    border-radius: 30px;
    padding: 1rem;
    box-sizing: border-box;
    min-width: 330px;

    background: rgb(28,32,61);
    background: linear-gradient(65deg, rgba(28,32,61,1) 0%, rgba(17,21,53,1) 100%);;
    overflow: hidden;

}


/* GREETINGS */

.title {
    margin-top: 20px;
}

.title h1 {
    font-size: var(--pri-font-size);
    font-weight: 400;
    margin-bottom: 5px;
}

.title h2{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--sec-font-color);
    opacity: 0.8;
    margin-bottom: 10px;
    letter-spacing: 0.8px;
}

.title i {
    color: var(--sec-font-color);
    font-size: 0.6rem;
    opacity: 0.8;
}

#guestName {
    text-transform: capitalize;
}


/* SEARCH BAR */

.search-bar {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--sec-bg-color);
    border-radius: 10px;

    padding: 5px 15px;
    margin-top: 20px;
}

.search-bar i {
    margin-right: 20px;
}


/* VIDEO CONTAINER */

.video-container {
    position: relative;
    overflow: hidden;
}

.video-container video {
    border-radius: 10px;
    margin-top: 20px;
}

.player-label {
    display: flex;
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 0 5px;
}

.label {
    font-size: var(--ter-font-size);
    background-color: var(--pri-font-color);
    color: var(--sec-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

.mute {
    background-color: rgb(209, 47, 47);
    color: white;
    z-index: 100;
}

.unmute {
    color: rgba(255, 255, 255, 0.726);
    background-color: rgba(255, 255, 255, 0.404);
    animation-name: slideRight;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-delay: 3s;
    /* animation-timing-function: ease-in-out; */
}

    @keyframes slideRight {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        20% {
            opacity: 0;
            transform: translateX(-20%);
        }
        35% {
            opacity: 1;
            transform: translateX(0);
        }
        65% {
            opacity: 1;
            transform: translateX(0);
        }
        80% {
            opacity: 0;
            transform: translateX(-20%);
        }
        100% {
            opacity: 0;
            transform: translateX(-100%);
        }
    }

.loop {
    color: gray;
    display: none;
}

.vol {
    display: none;
    position: absolute;
    right: 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
}    

.vol-fade-out {
    animation-name: fadeOut;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }

    }

.vol::after {
    content: "%";
}

/* BUTTON CONTAINER */

.player-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;

    margin: 10px auto;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: rgb(131,50,224);
    background: linear-gradient(340deg, rgba(131,50,224,1) 0%, rgba(187,77,235,1) 100%);
    border-radius: 50%;
    transition: all 200ms;
}

.sec-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

.main-btn:active, .sec-btn:active {
    transform: scale(110%);
}

.idle{
    color: var(--sec-font-color);
}

.active {
    color: white;
}


/* BOTTOM SECTION */

.bottom-section {
    height: 290px;
    padding-bottom: 30px;
    overflow-y: scroll;
}

/* VIDEO CARD */

.video-card {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;

    border-radius: 10px;
    background-color: var(--sec-bg-color);

    overflow: hidden;

    position: relative;
}

.video-card .thumbnail {
    width: 100px;
    height: 100px;

    background: rgb(131,50,224);
    background: linear-gradient(340deg, rgb(65, 25, 110) 0%, rgba(187,77,235,1) 100%); 
}

.video-card .video-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 218px;
    padding: 10px 0 10px 20px;
}

.video-card .video-details .info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15px;
}

.video-card .main-btn {
    transform: scale(60%);
    position: absolute;

    bottom: 0;
    right: 0;
}

.video-card .info h2 {
    font-size: var(--sec-font-size);
    line-height: 1.2;
}

.video-card .info h3 {
    font-size: var(--ter-font-size);
    padding-top: 10px;
    color: var(--sec-font-color);
    font-weight: normal;
}

.video-card .info h3::before {
    content: "by ";
}

.video-card .info p {
    font-size: var(--ter-font-size);
    color: var(--sec-font-color);
    font-weight: 100;
    letter-spacing: 1px;
}

.video-card .info p::after  {
    content: " mins";
    color: var(--pri-bg-color);
    letter-spacing: 0;
    font-weight: 400;
}

.card-1{
    margin-top: 0;
}

.card-1 .thumbnail{
    background-image: url(assets/thumbnails/thumbnail-1.png);
    background-position: center;
    background-size: cover;
}

.card-2 .thumbnail{
    background-image: url(assets/thumbnails/thumbnail-2.png);
    background-position: center;
    background-size: cover;
}

.card-3 .thumbnail{
    background-image: url(assets/thumbnails/thumbnail-3.png);
    background-position: center;
    background-size: cover;
}


/* MOBILE RESPONSIVE */

@media (max-width: 450px) {


    #container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 1.5rem 2rem;
        box-sizing: border-box;
    
        background: rgb(28,32,61);
        background: linear-gradient(65deg, rgba(28,32,61,1) 0%, rgba(17,21,53,1) 100%);;
        overflow: visible;
    
    }

    .bottom-section {
        height: auto;
        padding-bottom: 0;
        overflow-y: scroll;
    }


    
}




